Ежедневник:
	Задача:
		Создание задач:
			Заголовок
			Текст
			Дата и время
			Приоритет
			Категория
			Напоминание
			Периодичность
			?участник(коллаборатор)
			?История изменений
			?Связанная тразакция
		Просмотр задач:
			Список задач
			Календарь
			Фильтр по категории
			Поиск
		Редактирование и удаление задач:
			Изменение текста
			Изменение даты и времени
			Изменение приоритета
			Изменение категории
			Отмена напоминания
			Удаление задачи
			?Откат к предыдущей версии
			?Смена/удаление участника
		Статистика:
			Количество задач по категориям
			Количество выполненных задач
			Среднее время выполнения задачи
			Диаграммы вышеперечисленного
		Экспорт:
			Возможность сохранять задачи в формате JSON, CSV, TXT
		Импорт:
			Возможность импортировать задачи в формате JSON, CSV, TXT
	?Подзадачи

	Заметка:
		Создание заметок:
			Заголовок
			Текст
			?участник(коллаборатор)
			?История изменений
		Редактирование и удаление заметок:
			Изменение заголовка
			Изменение текста
			Удаление заметки
			?Откат к пердыдущей версии
			?Смена/удаление участника
		Экспорт:
			Возможность сохранять заметки в формате JSON, CSV, TXT
		Импорт:
			Возможность импортировать заметки в формате JSON, CSV, TXT
	
	Пространство:
		Создание пространства:
			Заголовок
			Прикреплённые задачи, заметки
		Редактирование удаление пространства: 
			Изменение заголовка
			Добавление/удаление задач/заметок
			Удаление пространства
		Экспорт:
			Возможность сохранять пространства в формате JSON, CSV, TXT
		Импорт:
			Возможность импортировать пространства в формате JSON, CSV, TXT

	Группа:
		Создание группы:
			Заголовок
			Паттерн для отслеживаемых задач/заметок
		Редактирование и удаление группы:
			Изменение заголовка
			Изменение паттерна отслеживаемых задач/заметок
			Удаление группы
		Экспорт:
			Возможность сохранять группы в формате JSON, CSV, TXT
		Импорт:
			Возможность импортировать группы в формате JSON, CSV, TXT


Финансовый трекер:
	Добавление доходов и расходов:
		Сумма
		Валюта
		Категория
		Тип
		Дата и время
		Описание
		Фото квитанции
	Просмотр доходов и расходов:
		Список транзакций
		Календарь
		Фильтр по категории
		Поиск
	Редактирование и удаление транзакций:
		Изменение суммы
		Изменение типа
		Изменение категории
		Изменение даты и времени
		Изменение описания
		Изменение валюты
		Удаление фото квитанции
	Экспорт:
		Возможность сохранять транзакции в формате JSON, CSV, TXT
	Импорт:
		Возможность импортировать транзакции в формате JSON, CSV, TXT
	Статистика:
		Баланс
		Расходы по категориям
		Доходы по категориям
		Динамика баланса
		Отчеты по заданным периодам


Пользователь: 
	Регистрация/Авторизация пользователей
	Удаление аккаунтов


Технические требования:
	Платформа: Веб-приложение, доступное на любом устройстве с браузером.
	Технологии: HTML, SCSS, TypeScript, NestJs, Angular, Postgresql.
	База данных: Postgresql.
	Хостинг: Heroku, AWS, Google Cloud Platform.
	Безопасность: HTTPS, CSRF-токены, JWT-токены.


Дополнительные функции:
	Синхронизация данных:
		Синхронизация данных между устройствами.
		Резервное копирование данных.
	Совместная работа:
		Возможность делиться записями и финансовыми данными с другими пользователями.
	Экспорт в другие приложения:
		Экспорт данных в другие приложения (Google Calendar, Todoist, YNAB и т.д.).
	Темы оформления:
		Возможность менять оформление приложения.
	Поддержка нескольких языков:
		Интерфейс приложения на русском и английском языках.
		Возможность добавлять собственную локализацию


Целевая аудитория:
	Люди, которые хотят вести дневник и отслеживать свои финансы.
	Люди, которые хотят ставить цели и отслеживать их достижение.
	Люди, которые хотят улучшить свою личную продуктивность.


Позиционирование:
	Простое и удобное приложение для ведения дневника и отслеживания финансов.
	Помощь в достижении целей и повышении личной продуктивности